<div class="post-list" role="list" data-count="{{ posts.length }}">
  {% for post in posts %}
    <article class="post-item"
      data-type="{{ post.data.type }}"
      data-tags="{{ post.data.tags | join(',') }}"
      aria-labelledby="post-title-{{ loop.index }}">
      <h2 id="post-title-{{ loop.index }}"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
      <p class="meta">
        <time datetime="{{ post.date | machineDate }}">{{ post.date | humanDate }}</time>
        {% if post.data.type %}<span class="type">{{ post.data.type }}</span>{% endif %}
      </p>
      {% if post.data.summary %}<p class="summary">{{ post.data.summary }}</p>{% endif %}
      {% if post.data.tags and post.data.tags.length %}
        <p class="tags">
          {% for tag in post.data.tags %}<span>#{{ tag }}</span>{% if not loop.last %} {% endif %}{% endfor %}
        </p>
      {% endif %}
    </article>
  {% endfor %}
</div>
